@import url('https://fonts.googleapis.com/css?family=Mitr');

body{
	
	background-image: url("pic/female.jpg");
	margin-top: 50px;
	margin-left: 25px;

	
}


p{
	
	font-family: 'Mitr', sans-serif;
	font-size: 40px;
	color: pink;
	
	border-style: inset;
	
	padding: 20px;
	border-radius: 10px;

}

